<!DOCTYPE html>
<html>
<body>

<h2>MEMBER</h2>

<form name="assignment" method="post" action="/">
  Name:<br>
  <input type="text" name="name" value="">
  <br>
  Surname:<br>
  <input type="text" name="surname" value="">
  <br>
  Username:<br>
  <input type="text" name="Username" value="">
  <br>
  Email:<br>
  <input type="text" name="Email" value="">
  <br>
  Password:<br>
  <input type="text" name="Password" value="">
  <br>
  <input type="submit" title="Register">
</form>



</body>
</html>
